services:
  database:
    image: mysql:8.4
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    ports:
      - 3306:3306
    volumes:
      - mysql_sg:/var/lib/mysql
  php:
    build:
      context: ./docker/php
    depends_on:
      - database
    volumes:
      - ./:/var/www/seo_gram:cached
      - ./docker/php/php.ini:/usr/local/etc/php/conf.d/custom.ini
  nginx:
    image: nginx:stable-alpine
    ports:
      - "80:80"
    volumes:
      - ./:/var/www/seo_gram:cached
      - ./docker/nginx:/etc/nginx/conf.d
      - ./docker/nginx/logs:/var/log/nginx/
    depends_on:
      - php
volumes:
  mysql_sg:
